@import url("https://fonts.googleapis.com/css?family=Open+Sans");
table {
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 0 2px black;
  color: #444;
  font-size: 1.2em;
  margin: 0 auto;
  width: 85%;
}

table thead th {
  background-color: #6c828c;
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}

table tbody tr:last-child {
  background-color: #6c828c;
}

table tbody tr:last-child th {
  padding: 10px 0;
}

table tbody .event {
  text-align: center;
}

table tbody .event td {
  padding: 5px 0;
}

table tbody .event .name {
  padding-left: 10px;
}

table tbody .event .type {
  font-style: italic;
}

table tbody .event .desc {
  word-break: break-word;
}

table .hides {
  clear: both;
}

table .hides button {
  background-color: #78909c;
  color: white;
  display: inline;
  float: right;
  margin: 0 2px;
}

table .hides button.hidden-button {
  display: none;
}

table .hidden {
  background-color: #ccc;
  color: black;
}

.snackbar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.snackbar p {
  margin-left: 5px;
  margin-right: 20px;
  display: inline;
}

.snackbar-success {
  background-color: #dff0d0;
  border: 1px solid #60b515;
  color: #565656;
}

.snackbar-error {
  background-color: #f5dbd9;
  border: 1px solid #ebafa6;
  color: #565656;
}

body {
  margin: 0;
  padding: 0;
  background-color: #78909c;
  color: #e4e4e4;
  font-family: 'Open Sans';
  margin-top: 60px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 24px;
}

h5 {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}
