@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.nav {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid #fff;
  font-size: 12px;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline;
  margin-right: 15px;
}

.nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

table {
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 0 2px black;
  color: #444;
  font-size: 1.2em;
  margin: 0 auto;
  width: 85%;
}

table thead th {
  background-color: #6c828c;
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}

table tbody tr:last-child {
  background-color: #6c828c;
}

table tbody tr:last-child th {
  padding: 10px 0;
}

table tbody .event {
  text-align: center;
}

table tbody .event td {
  padding: 5px 0;
}

table tbody .event .name {
  padding-left: 10px;
}

table tbody .event .type {
  font-style: italic;
}

table tbody .event .desc {
  word-break: break-word;
}

table .hides {
  clear: both;
}

table .hides button {
  background-color: #78909c;
  color: white;
  display: inline;
  float: right;
  margin: 0 2px;
}

table .hides button.hidden-button {
  display: none;
}

table .hidden {
  background-color: #ccc;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #78909c;
  color: #e4e4e4;
  font-family: 'Open Sans';
  margin-top: 60px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 24px;
}

h5 {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}
